Source: tileos-artwork
Section: x11
Priority: optional
Maintainer: Aleksey Samoilov <samoilov.lex@gmail.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.5.1
Homepage: https://github.com/Tile-OS/tileos-artwork
Rules-Requires-Root: no

Package: plymouth-theme-tileos
Architecture: all
Depends: ${misc:Depends},
         plymouth,
         plymouth-label,
         plymouth-themes
Provides: plymouth-themes
Description: boot animation, logger and I/O multiplexer - TileOS theme
 Plymouth provides a boot-time I/O multiplexing framework - the most obvious
 use for which is to provide an attractive graphical animation in place of
 the text messages that normally get shown during boot. (The messages are
 instead redirected to a logfile for later viewing.) However, in event-driven
 boot systems Plymouth can also usefully handle user interaction such as
 password prompts for encrypted file systems.
 .
 This package provides the default TileOS theme.

Package: tileos-artwork
Architecture: all
Depends: ${misc:Depends}, tileos-theme-catppuccin, tileos-wallpapers
Section: metapackages
Description: themes and artwork for TileOS
 This is a metapackage.

Package: tileos-theme-catppuccin
Architecture: all
Depends: ${misc:Depends},
         breeze-cursor-theme,
         catppuccin-gtk-theme,
         catppuccin-kvantum-theme,
         papirus-icon-theme,
         qt5ct,
         qt6ct,
         qt5-style-kvantum,
Conflicts: tileos-sway-artwork
Description: Catppuccin theme for TileOS
 This metapackage provides default look-and-feel for GTK and QT applications
 on TileOS.

Package: tileos-grub-theme
Architecture: all
Depends: ${misc:Depends}
Description: default GRUB theme for TileOS
 This package provides default theme for GRUB 2 bootloader.

Package: tileos-wallpapers
Architecture: all
Depends: ${misc:Depends}
Description: TileOS wallpapers
 A set of default wallpapers for TileOS.
